*               text eol=lf
/gradlew        text eol=lf
*.bat           text eol=crlf
*.jar           binary
*.png		    binary
*.jpg		    binary
*.bpm		    binary
*.gif		    binary
*.mp4		    binary
*.mov		    binary
*.a filter=lfs diff=lfs merge=lfs -text
